footer{
    position: absolute;
    bottom:0;
    height:80px;
    background:rgb(29, 116, 197);
    /* margin:0; */
    padding:10px 10px;
    display: flex;
    width:100%;
    justify-content: space-around;
    color:white;
    font-size: 1.3rem ;
}
footer div{
    height:100%;
    display: flex;
    align-content: center;
    justify-content: space-around;
}
/* a:visited{
    color:white;
} */
footer div a{
    display: block;
    color:white;
    padding:0 15px;
    text-decoration:none;
}
.sortButtons div{
    display: flex;
    flex-direction: column;
}